{% extends "::base.html.twig" %}
{% use "::navbar.html.twig" %}
{% block body %}
	{% block navbar %} {{ parent() }} {% endblock %}
	<!-- Pagina principal del sistema -->
	<div class="container">
		{% for flashMessage in app.session.flashbag.get('msgW') %}
	        <div class="alert alert-danger" role="alert">
	            <span class="oi oi-account-login" title="icon name" aria-hidden="true"></span> 
	            {{flashMessage}}
	        </div>
    	{% endfor%}
    	{% for flashMessage in app.session.flashbag.get('msgS') %}
	        <div class="alert alert-success" role="alert">
	            <span class="glyphicon glyphicon-warning-sign" ></span> 
	            {{flashMessage}}...
	        </div>
    	{% endfor%}
	</div>
	
{% endblock %}
{% block javascripts %}
    {{ parent() }}          
{% endblock %}